[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
django = "*"
django-templated-mail = "*"
celery = "*"
redis = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.11"
